@charset "UTF-8";
/* CSS Document */

input {
   width: 4em;
   }

table#counter, label {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #486273;
}

.lbl-column {
    text-align: right;
}

td {
   border: black solid 1px;
}

input.cellAmount {
	text-align: center;
	background-color: azure;
	}

.instructions{
    text-decoration: underline;
    font-weight: bold;
}
div.container{
}

div.wood{
    margin: auto;
    overflow: auto;
    width: 800px;
    height: 200px;
    background-image: url(/counter/images/wood-pattern.jpg);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border: solid #000000 2px;
}

div.wood:after{
    content: "";
    display: block;
    clear: both;
}

div.div-counter {
    margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	text-align: center;
	width: 700px;
	border: 1px solid goldenrod;
	background-color: #90C3E6;


}

.percentcell, .namecell th, .datacell {
	background-color: white;
    border: #000000 1px solid;
}

.percentcell, .datacell, .percentrow {
    height: 23px;
    background-color: white;
}

div.output {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

table#counter{
    border-collapse: separate;
    border-spacing: 2px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

div#buttons {
   margin-top: 0.5em;
   margin-bottom: 0.5em
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background-color: dimgray;
	color: white;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #90C3E6;
	color: #222;
}

.tab-content{
	display: none;
	border: 3em solid #90C3E6;
	padding: 40px;
	min-height: 450px;
	background-color: white;
	font-family: Arial;
	font-size: 14px;
}

.tab-content.current{
	display: inherit;
	min-height: 450px;
	font-family: Arial;
	font-size: 12pt;
}

.effect8
{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.effect8:after
{
		right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	   -moz-transform:skew(8deg) rotate(3deg);
		-ms-transform:skew(8deg) rotate(3deg);
		 -o-transform:skew(8deg) rotate(3deg);
			transform:skew(8deg) rotate(3deg);
}
img#inactive {
	margin: auto auto auto auto;
}
