@charset "UTF-8";
/* CSS Document */

html, body, h1, h2, h3, p, ol, ul, li, a {
	padding: 0;
	margin: 0;
	border: 0;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 100%;
	font: inherit;
}

.cf:before, .cf:after {
	/*Clear fix (cf) class*/
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

ul, ol {
	padding: 0 0 0 50px;
}

body
{
    background-image: url(../images/grey_wash_wall.png);
    margin:0px;
    background-attachment: fixed;
	background-color: #786565;
	background-position: top left;
	background-repeat: repeat;

}

.header-cont {
    width: 100%;
    /*height: auto;*/
    position: fixed;
    top: 0;
    z-index: 10;

}

header {
    height: 115px;
    background:#F0F0F0;
    opacity: 0.88;
    border: 1px solid black;
    width: 100%;
    margin: 0px auto;
	padding: 20px 0 0 0;

}
.body.container {
	margin-top: 165px;


}

.content-body {
    width: 1000px;
    background-color: white;
	background-image: url(../images/ALL.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
    margin-bottom: 1em;
    font-family: googlesans, georgia, sans-serif;
    border: 1px solid black;
    position: relative;
    z-index: 5;
	min-height: 1000px;
	align-content: center;
	padding: 30px 15px 5px 15px;
}

h1 {
	font-family: googlesans, sans-serif;
	font-size: 2em ;
	text-align: center ;
}

h2 {
	font-family: Arial, Helvetica, sans-serif ;
	text-align: left ;
	font-size: 1.4em ;
	background-color: #f0f0f0 ;
	color: black ;
}

nav#masthead {
	content: '';
    min-height: 10px;
    margin-top: 10px;
    background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 300;
	/* line-height: 10px; */
}

nav#masthead ul {
	list-style-type: none;
	padding: 0;
}

nav#masthead ul li {
	text-decoration: none;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

nav#masthead ul li a {
	color: white;
	text-decoration: none;
}
nav#masthead ul li a:hover {
	color: #90C3E6;
}
a.links-list
{
	color: black;
}

a:hover
{
	color: #90C3E6;
}

#main-title
{
	text-align: center;
}

#subtitle
{
	color:#EDEDED;
	font-family: googlesans, sans-serif;
	text-align: center;
}

table.dx-text {
	border: black solid 1px;
	width: 700px;
}

table#links-table {

	margin: 10px auto 10px auto;
}

table#links-table tr td p, img {
	vertical-align: middle;
}
.output-tbl {
	width: 100%;
}
pre.dx-text {
	font-family: googlesans, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;
	text-align: left;
}
article.main-links {
	width: auto;
}
.dx-cards {
	margin: 10px 10px 10px 10px;
	border: 1px solid black;
	background-color:#7FD5EC;
	padding: 5px 5px 5px 5px;
}

.link-row {
	border: 1px solid #12ABE2;
	background-color: white;
	margin: 10px auto 10px auto;
}

.link-row td {
	width: 450px;
	border: 1px solid #90C3E6;
}


.link-row td img {
	float: left;
	padding-right: 10px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
